*{
    margin:0px;
    padding:0px;
}

.BTN::after{
content: "";
display: block;
height: 4px;
width: 100%;
background-color: #2bd576;
transform: scaleX(0);
transition: transform 0.3s ease;
transform-origin: left;
}

.BTN:hover::after{
    transform: scaleX(1);
    /* transform: transform; */
}



body{
    background-color: rgb(56, 54, 54);
    background: url("backimg.png.jpg") no-repeat;
    object-fit: fill;
    z-index: -1;
}



/* .border:hover{
    border:1px solid white;
} */

header{
    position: sticky;
    top: 0;
    width:100%;
    height:4rem;
    margin-top: 1rem;
}

nav{
   
    width:95%;
    height:3rem;
    margin: auto;
    background-color: rgb(20, 19, 33);
    border-radius: 25px;
    display: flex;
    z-index: 1;
}

/* nav:hover{
    border: 1px solid white;
} */
/* First nav logo */
#nv1,#nv2{
    width: 50%;
    height: 100%;
    background-color: transparent;
}
#nv1 img{
    border-radius: 50%;
    height:3rem;
}

/* Second nav tags */
#nv2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nv2 p,a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 20px;
}

/* Hero Section  */
.hero{
    width:100%;
    height:40rem;
    display: flex;
}

#hero1,#hero2{
    height:100%;
    width: 50%;
    background-color: lightgray;
}

#hero1 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color: white;
    text-decoration: underline;
}

#hero1{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero2{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero2 img{
    height: 90%;
    width: 70%;
    border-radius: 15px;
}

#hero2 img:hover{
    box-shadow: 5px 10px 100px 100px white;
}

#SPN{
    font-size: 3rem;
}
#SPN::before {
    content: "Web Developer";
    animation: animate infinite 5s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "JAVA Developer";
    }

    25% {
        content: "Android Developer";
    }

    50% {
        content: "Python Developer";
    }

    75% {
        content: "Web Designer";
    }

    100% {
        content: "UI/UX Designer";
    }
}

/* About section  */
#about{
    height: 20rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abut{
    color: white;
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
}
  
/* Skill section  */
 #skill{
    width:100%;
    height: 30rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skll{
    height: 20rem;
    width: 20%;
    background-color: white;
    border-radius: 35px;
    transition: all 0.2s ease-in;
} 

.skll:hover{
    width: 21%;
    height: 21rem;
    background-color: lightgray;
    box-shadow: 5px 5px 10px 5px lightgray;
}

.skll{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skl-para{
    color: navy;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.par{
    font-size: 1.7rem;
    background: linear-gradient(45deg,red,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Education section  */
#education{
    height: 40rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.parent{
    height: 40%;
    width: 20%;
    background-color: lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

}

@keyframes parent-anim{
    from{
        width:20%;
        box-shadow: none;
    }
    to{
        width: 30%;
        box-shadow: 5px 5px 5px 10px lightgray;
    }
}


.parent:hover{
    animation-name: parent-anim;
    .hd{
        display: none;
    }
    .displ{
        display: block;
    }
}

.child-head{
    font-size: 1.8rem;
    font-family: fantasy;
}

.child2{
    font-size: 1rem;
    font-family: serif;
    font-weight: bold;
}

.child3{
    font-size: 1.3rem;
    font-family: serif;
    font-weight: bold;
}

.hd{
    font-size: 1.8rem;
    font-family: 'Noto Serif', serif;
    display: block;
}

.displ{
    display: none;
}

 /* Project Area  */
 #project{
    width: 100%;
    height: 50rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.projects{
    height: 25%;
    width: 70%;
    border-radius: 180px;
    background-color: #dbd8e2;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

.project-title{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.project-description{
    font-size: 1.2rem;
    color: black;
}

.project-description a{
    color: black;
    font-size: 1rem;
}

.projects:hover{
    box-shadow: 2px 2px 20px 20px lightgray ;
    box-shadow: -2px -2px -2px 2px lightgray;
}

/* Contact me Section  */
#contact-me{
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.attr{
    width: auto; 
    margin: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: none;
    padding: 5px;
    border-radius: 50px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes contact-details{
    from{
        width: 1rem;
    }
    to{
        width: 15rem;
    }
}

.attr:hover{
    animation-name: contact-details;
    .attr-child{
        display: block;
    }
    
}

i{
    display: block;
    color: cyan;
    margin-right: 5px;
}

.attr2{
    display: flex;
}

.attr-child{
    display: none;
}

/* Footer Section */
footer{
    height: 2rem;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    height: 1.5rem;
    width: 80%;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
    
}
